asgiref==3.12.1
certifi==2026.7.22
charset-normalizer==3.5.1
distlib==0.4.3
Django==6.1
docopt==0.6.2
filelock==3.32.3
idna==3.19
mysqlclient==2.2.8
Pillow==12.3.0
pipreqs==0.4.13
platformdirs==4.11.3
requests==2.34.2
sqlparse==0.6.0
tzdata==2026.2
urllib3==2.7.0
virtualenv==21.7.4
yarg==0.1.10
