{% extends 'base.html' %}

{% block content %}

{% load cart %}
{% load custom_filter %}
<!-- body -->

<div class="container-fluid mt-5 ">

	<!-- all products -->
	<div id='products' class="col-lg-12" >
		<div class="row justify-content-center " >
			{% for product in products %}
			<div class="card col-lg-3 mr-md-5 mb-sm-5" id={{product.id}}>
				<img class="card-img-top" src="{{product.image.url}}" alt="Card image cap">
				<div class="card-body">
					<p class="card-title">{{product.name}}</p>
					<p class="card-text"><b>{{product.price|currency}}</b></p>
				</div>

				<div class="card-footer p-0 no-gutters">

					{% if product|is_in_cart:request.session.cart %}
					<div class="row no-gutters">
						<form action="/#{{product.id}}" class="col-2 " method="post">
							{% csrf_token %}
							<input hidden type="text" name='product' value='{{product.id}}'>
							<input hidden type="text" name='remove' value='True'>
							<input type="submit" value=" - " class="btn btn-block btn-light border-right">
						</form>
						<div class="text-center col">{{product|cart_quantity:request.session.cart}} in Cart</div>
						<form action="/#{{product.id}}" class="col-2 " method="post">
							{% csrf_token %}
							<input hidden type="text" name='product' value='{{product.id}}'>
							<input type="submit" value=" + " class="btn btn-block btn-light border-left">
						</form>
					</div>
					{% else %}
					<form action="/#{{product.id}}" method="POST" class="btn-block">
						{% csrf_token %}
						<input hidden type="text" name='product' value='{{product.id}}'>
						<input type="submit" class="float-right btn btn-light  form-control" value="Add To Cart">
					</form>
					{% endif %}

				</div>

			</div>
			{% endfor %}
		</div>
	</div>


</div>



{% endblock %}
